<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HomeS</title>
    </head>
    <body>
        <h1>Home Page</h1>
        <h3><%= 'hello world'.toUpperCase() %></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum veritatis alias modi iure dolor aperiam quidem explicabo, eius odio illo.</p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique accusamus voluptatum vero soluta quis explicabo necessitatibus perferendis dicta! Molestias est labore omnis minus voluptate consequatur excepturi similique
            quam sapiente?
        </p>
    </body>
</html>
